<mat-card>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Código</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Código Alternativo</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Peso máximo (decolagem)</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Peso máximo (pouso)</mat-label>
        <input matInput />
    </mat-form-field>
    <button mat-flat-button color="primary" class="send">Cadastrar</button>
</mat-card>
