<mat-card>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Prefixo</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Peso máximo (decolagem)</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Peso máximo (pouso)</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Modelo</mat-label>
        <mat-select>
            <mat-option>Modelo 1</mat-option>
            <mat-option>Modelo 2</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox>Ativo</mat-checkbox><br>
    <button mat-flat-button color="primary" class="send">Cadastrar</button>
</mat-card>
